services:
  mysql:
    image: mysql:8.0
    container_name: vounofasaioi_db
    restart: always
    volumes:
      - vounofasaioi-data:/var/lib/mysql
      - ./configurations/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
volumes:
  vounofasaioi-data:
