services:
  vounofasaioi-db:
    image: mysql:8.0
    container_name: vounofasaioi_db
    restart: always
    volumes:
      - vounofasaioi-data:/var/lib/mysql
      - ./configurations/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    command: --log-bin-trust-function-creators=1

  reservation-service:
    build:
      context: .
      dockerfile: src/reservations/Dockerfile
    container_name: reservation_service
    ports:
      - "8000:8000"
    entrypoint: [ "poetry", "run" ]
    command:
      - uvicorn
      - reservations.main:app
      - --host
      - 0.0.0.0
      - --port
      - "8000"
      - --reload
      - --reload-dir
      - /app/src
      - --reload-exclude
      - "*.txt"
    volumes:
      - ./src:/app/src
      - ./configurations:/app/configurations
    environment:
      - PYTHONPATH=/app/src
    depends_on:
      - vounofasaioi-db

  python-dev:
    build:
      context: .
      dockerfile: dev.Dockerfile
    container_name: python_dev
    volumes:
      - ./src:/app/src
      - ./configurations:/app/configurations
      - ./tests:/app/tests
    environment:
      - PYTHONPATH=/app/src
    stdin_open: true
    tty: true
    depends_on:
      - vounofasaioi-db

volumes:
  vounofasaioi-data:
